<button (click)="generatePDF()">Generate PDF</button>
<button (click)="printPDF()">Print PDF</button>



<!-- Your HTML content to convert to PDF -->
<div id="htmlData">
  <div >
    <h1>Hello World!</h1>
    <p>This is a sample HTML content to convert to PDF.</p>
    <div class="body-data">
      Hello
    </div>
  </div> 
  <div>
    <h1>Hello World!</h1>
    <p>This is a sample HTML content to convert to PDF.</p>
    <div class="body-data">
      Hello
    </div>
  </div> 
  <div>
    <h1>Hello World!</h1>
    <p>This is a sample HTML content to convert to PDF.</p>
    <div class="body-data">
      Hello
    </div>
  </div> 
</div>

